<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension-point
			id="org.esco.grouperui.tools.parameter"
			name="parameter extension"
			schema="META-INF/schema/org.esco.grouperui.tools.parameter.exsd"/>


 	<extension-point
 			id="org.esco.grouperui.services.grouper"
 			name="grouper service extension"
			schema="META-INF/schema/org.esco.grouperui.services.grouper.exsd"/>


	<extension
		id="org.esco.grouperui.core.parameter"
		point="org.esco.grouperui.tools.parameter" >
	    <parameters version="1.0.0-SNAPHOST">
	    	<parameter
       			location="classpath:sql/dropSchema.sql"
       			executor="org.esco.grouperui.tools.parameter.internal.ParameterIntegration" />
       		<parameter
       			location="classpath:sql/createSchema.sql"
       			executor="org.esco.grouperui.tools.parameter.internal.ParameterIntegration" />
       		<parameter
       			location="classpath:sql/populateSchema.sql"
       			executor="org.esco.grouperui.tools.parameter.internal.ParameterIntegration" />
	    </parameters>
	    <service
	    	group="*"
	    	executor="org.esco.grouperui.tools.parameter.internal.ParameterFinder"	/>
	</extension>
</plugin>
