#################################################
# .gitignore file used to maintain a clean repo #
#################################################

###################
# Eclipse files
###################
.classpath
.project
.settings/*
.settings
.*
!.gitignore

###################
# Gedit files
###################
*.*~

###################
# Maven files
###################
target/

###################
# Vim files
###################
*.swp
*.swo
*.swn
.vim

###################
# Production files
###################
#*.prod.xml
#*.prod.sh
#*.preprod.sh
#*.prod.properties
#conf/config.properties
logs/
*/build
*.class


###################
# Others
###################
#${cache.path}/
*.org
metier/esco-web/src/main/filters/filters.properties
metier/esco-web/src/main/conf/servlet/web.xml
metier/esco-web/pom.xml
ant/lib/esco-derby-generator.jar
generateMessage*

