.flora .font_search{
	font-family:Verdana;
	font-size:12px;
}

.flora .font_error{
	font-family:Verdana;
	font-size:12px;
}

.flora .memberWarning{
	color:red !important;
	font-family:Verdana !important;
	font-size:12px !important;
}

.flora linkAddMember{
	cursor:pointer;
	text-decoration:underline;
}