.flora{
	height:500px;
	background-color:#E6F7D4;
}

.flora .portlet-menu{
	display:none;
}

.flora #arbo ul li {
	line-height:18px;
	padding:0 0 0 15px;
}

.flora .tree > .ltr > li {
	display:block !important;
}

.flora #searchSpan{
	padding:2px 7px !important;
}

.flora .breadCrumb ul li {
	line-height:21px !important;
	margin:0 6px 0 0 !important;
	padding:0 10px 0 0 !important;
}

.flora #alerthd, .flora #alertmod{
display:none !important;
}
/** Tree LDAP */

.flora .defaultInput {
	font-family:tahoma,arial,helvetica,sans-serif !important;
	color:grey !important;
	*width:183px !important;
}

.flora .normalInput{
	color:grey !important;
	font-family:tahoma,arial,helvetica,sans-serif !important;
	*width:183px !important;
}

.flora .normalInputLoaded{
	*width:183px !important;
	color:black !important;
	font-family:tahoma,arial,helvetica,sans-serif;
}

.flora #treeLDAP ul li {
	line-height:18px;
	padding:0 0 0 15px;
}

