/*
*	STYLES FOR: complex.html
*
*	Created with ThemeRoller...
*	http://ui.jquery.com/themeroller/?bgColorDefault=e0e0e0&bgTextureDefault=02_glass.png&bgImgOpacityDefault=80&borderColorDefault=cccccc&fcDefault=444444&iconColorDefault=888888&bgColorHover=d8d8d8&bgTextureHover=02_glass.png&bgImgOpacityHover=90&borderColorHover=888888&fcHover=111111&iconColorHover=222222&bgColorActive=8ab9ff&bgTextureActive=02_glass.png&bgImgOpacityActive=50&borderColorActive=2694e8&fcActive=000000&iconColorActive=ffffff&bgColorContent=f3f3f3&fcContent=362b36&ffDefault=Lucida%20Grande,%20Lucida%20Sans,%20Arial,%20sans-serif&fwDefault=normal&fsDefault=1.2&fsDefaultUnit=em#bgColorDefault=d6d6d6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=80&borderColorDefault=bbbbbb&fcDefault=000000&iconColorDefault=444444&bgColorHover=eeeeee&bgTextureHover=02_glass.png&bgImgOpacityHover=90&borderColorHover=cccccc&fcHover=000066&iconColorHover=000066&bgColorActive=80ade5&bgTextureActive=04_highlight_hard.png&bgImgOpacityActive=100&borderColorActive=266cc0&fcActive=000000&iconColorActive=ffffff&bgColorContent=D1E6FC&bgTextureContent=10_dots_medium.png&bgImgOpacityContent=90&borderColorContent=bbbbbb&fcContent=000000&iconColorContent=222222&ffDefault=Lucida+Grande%2C+Lucida+Sans%2C+Arial%2C+sans-serif&fwDefault=normal&fsDefault=1&fsDefaultUnit=em
*/

/*
*	GENERAL COSMETICS
*/
.flora  {
	font-family: Lucida Grande, Lucida Sans, Arial, Helvetica, sans-serif;
	font-size: 100%;
	background-color: #EEE;
}
.flora h1 {
	font-size: 2em;
	font-weight: normal;
	margin: 1em 0 0.75em;
	page-break-after: avoid;
}
.flora h2 {
	color: navy;
	font-size: 1.2em;
	font-weight: bold;
	margin: 1.25em 0 0.75em;
	page-break-after: avoid;
}
.flora h3 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 0 1ex;
	page-break-after: avoid;
}
.flora p {
	margin: 1ex 0;
}

.flora code {
	font-size: 1.1em;
	margin: 0;
	}
.flora pre {
	margin: 1em 0 1em 1em;
}

.flora ul {
padding: 0;
padding-top: 3px; /* give whitespace at bottom for FF */
padding-bottom: 3px; /* give whitespace at bottom for FF */
margin: 0;
list-style-type: square;
}
.flora li {
	padding: 0;
	margin: 0;
	margin: 0.5ex 0 0.5ex 1.2em;
}

.flora table {
	border-color: #666;
}
.flora th {
	background-color: #EEE;
	padding: 4px 7px 5px;
	border-color: #666;
	text-align: left;
}
.flora td {
	padding: 2px 7px 3px;
	border-color: #666 #CCC;
	vertical-align: top;
}


/*
*	COMMON LAYOUT PANE FORMATTING
*/
.flora .pane ,				/* outer pane class */
.flora .ui-layout-pane {	/* inner pane class */
	background-color: #FFF;
	border: 1px solid #777;
	padding: 0;/* alignment & padding is on the inner-divs */
	overflow: auto; /* will be auto-set to 'hidden' for any pane with a 'scrolling content div' */
}


/*
*	OUTER-LAYOUT PANE FORMATTING
*/
.flora .pane-north .content ,
.flora .pane-south .content {
	text-align: center;
}
.flora .pane-north {
	border-bottom: none;
}
.flora .pane-center {
	/* show off the inner-layout inside the outer-center-pane*/
	background-color: #F6F6F6;
	padding: 15px; /* for outer layout */
}

/* inner divs inside Outer East/West panes */
.flora .headerComplex {
	background: #80ade5 url(../imgs/layout/80ade5_40x100_textures_04_highlight_hard_100.png) 0 50% repeat-x;
	border-bottom: 1px solid #777;
	font-weight: bold;
	text-align: center;
	padding: 2px 0 4px;
	position: relative;
	overflow: hidden;
}
.flora .subhead ,
.flora .footer {
	background: #d6d6d6 url(../imgs/layout/d6d6d6_40x100_textures_02_glass_80.png) 0 50% repeat-x;
	padding: 3px 10px;
	font-size: 0.85em;
	position: relative;
	overflow: hidden;
}
.flora .subhead { border-bottom: 1px solid #777; }
.flora .footer  { border-top: 1px solid #777; }

.flora #mainContent {
	background: #E6F7D4;
	overflow: hidden;
}
.flora #mainContent .footer  { border-top: 1px solid #BBB; }
.flora .content {
	padding: 10px;
	position: relative;
	background: #E6F7D4;
}


/*
*	INNER-LAYOUT PANE FORMATTING
*/
.flora #mainContent .ui-layout-pane {
	padding: 10px;
}
.flora #mainContent .ui-layout-north ,
.flora #mainContent .ui-layout-south {
	text-align: center;
}
.flora #mainContent .ui-layout-center {
	padding: 0 !important; /* inner divs have padding */
}
.flora #mainContent .ui-layout-content {
	padding: 10px;
}
.flora #mainContent .ui-layout-center h3 {
	font-size: 1em;
	padding: 5px;
	margin: 0;
}


/*
*	OUTER LAYOUT RESIZERS & TOGGLERS
*/

/* north-pane is not resizable
.resizer-north-dragging ,
.resizer-north:hover		{ background: url(../imgs/layout/resizable-n.gif) repeat-x center; }*/
.flora .resizer-south-dragging ,
.flora .resizer-south:hover		{ background: url(../imgs/layout/resizable-s.gif) repeat-x center; }

.flora .resizer-west-dragging ,
.flora .resizer-west-open:hover	{ background: url(../imgs/layout/resizable-w.gif) repeat-y center; }
.flora .resizer-east-dragging ,
.flora .resizer-east-open:hover	{ background: url(../imgs/layout/resizable-e.gif) repeat-y center; }

.flora .resizer-west-open ,
.flora .resizer-east-open {
	background-color: #999;
	opacity: 0.1;
	filter: alpha(opacity=10);
}
.flora .resizer-west-open:hover ,
.flora .resizer-east-open:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.flora .resizer-dragging {
	/* see draggable.opacity option
	opacity: 0.5;
	filter: alpha(opacity=50);
	*/
}

/* IE6 * HACK - always show resizer graphics because IE6 cannot understand elem:hover */
/** html .resizer-north		{ background: url(../imgs/layout/resizable-n.gif) repeat-x center !important; } */
* html .flora .resizer-south		{ background: url(../imgs/layout/resizable-s.gif) repeat-x center !important; }
* html .flora .resizer-west-open	{ background: url(../imgs/layout/resizable-w.gif) repeat-y center !important; }
* html .flora .resizer-east-open	{ background: url(../imgs/layout/resizable-e.gif) repeat-y center !important; }
/** html .resizer-north , */
* html .flora .resizer-south ,
* html .flora .resizer-west-open ,
* html .flora .resizer-east-open {
	opacity: 0.1 !important;
	filter: alpha(opacity=10) !important;
}

/*
*	SIMPLE TOGGLER BUTTONS (used on Outer Layout North/South only)
*/

.flora .toggler-north-open ,
.flora .toggler-south-closed 		{ background: url(../imgs/layout/toggle-up.gif) no-repeat center bottom; }
.flora .toggler-north-closed ,
.flora .toggler-south-open   		{ background: url(../imgs/layout/toggle-dn.gif) no-repeat center top; }
/*
.toggler-east-closed ,
.toggler-west-open    { background: url(../imgs/layout/toggle-lt.gif) no-repeat center right; }
.toggler-west-closed ,
.toggler-east-open    { background: url(../imgs/layout/toggle-rt.gif) no-repeat center left; }
*/

/*
*	extJS-STYLE RESIZER/SLIDER-BAR (CLOSED)
*/
.flora .resizer-west-closed ,
.flora .resizer-east-closed {
	background: #D1E6FC url(../imgs/layout/D1E6FC_40x100_textures_10_dots_medium_90.png) 0 0 repeat;
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
}
.flora .resizer-west-closed:hover ,
.flora .resizer-east-closed:hover {
	background: #D1E6FC;
}

/*
*	NORTH PANE TOOLBAR & BUTTONS
*/
.flora ul.toolbar {
	position:	relative;
	overflow:	hidden; /* required to CONTAINER 'floating li' in FF */
	height:		auto;
	margin:		-10px;
	padding :	2px 2px, 2px, 0;
	list-style:	none;
	text-align: left;
	background: #D6D6D6 url(../imgs/layout/d6d6d6_40x100_textures_02_glass_80.png) 0 50% repeat-x;
	border-top: 1px solid #BBB;
	*height: 25px !important;
}
.flora ul.toolbar li {
	font-size: 0.9em;
	margin: 0;
	padding: 2px 7px;
	float: left;
	color: #000;
	border: 1px solid transparent;
	border-right-color: #BBB;
	cursor: pointer;
}
.flora ul.toolbar li:hover {
	color: #005;
	background: #EEE url(../imgs/layout/eeeeee_40x100_textures_02_glass_90.png) 0 50% repeat-x;
	border-top-color: #BBB;
	border-bottom-color: #BBB;
}
.flora ul.toolbar li.first:hover {
	border-left-color: #BBB;
}
.flora ul.toolbar li span {
	/* icons in toolbar */
	width: 			15px;
	height:			15px;
	margin-left:	-3px;
	margin-right:	0.75ex;
	vertical-align:	middle;
	opacity:		0.6;
	filter:			alpha(opacity=60);
	display:		block;
	display:		inline-block;
}
.flora ul.toolbar li:hover span {
	opacity: 1;
	filter: alpha(opacity=100);
}
.flora li.button-toggle-north span	,
.flora li.button-open-south span	{ background: url(../imgs/layout/go-up-on.gif) no-repeat center; }
.flora li.button-close-south span	{ background: url(../imgs/layout/go-dn-on.gif) no-repeat center; }
.flora li.button-pin-up span		{ background: url(../imgs/layout/pin-up-on.gif) no-repeat center; }
.flora li.button-pin-down span		{ background: url(../imgs/layout/pin-dn-on.gif) no-repeat center; }

/*
 *	extJS-STYLE TOGGLE & PIN BUTTONS
 *
 *	these 'extra buttons' are INSIDE the east/west panes
 */

/* CUSTOM pin/close buttons */
.flora span.button-pin ,
.flora span.button-close {
	position:	absolute;
	top:		0;
	width: 		20px;
	height:		20px;
	z-index:	2;
	display:	block;
	cursor: 	pointer;
}
.flora span.button-close-west	{ left:	 0; }
.flora span.button-close-east	{ right: 0; }
.flora span.button-pin-west	{ right: 1px; display:none;}
.flora span.button-pin-east	{ left:	 1px; }

/* CUSTOM pin-buttons */
.flora span.button-pin-up 		  		{ background: url(../imgs/layout/pin-up-off.gif) no-repeat center; }
.flora span.button-pin-up:hover   		{ background: url(../imgs/layout/pin-up-on.gif)  no-repeat center; }
.flora span.button-pin-down 	  		{ background: url(../imgs/layout/pin-dn-off.gif) no-repeat center; }
.flora span.button-pin-down:hover 		{ background: url(../imgs/layout/pin-dn-on.gif)  no-repeat center; }

/* CUSTOM close-buttons */
.flora span.button-close-west			{ background: url(../imgs/layout/go-lt-off.gif) no-repeat center; }
.flora span.button-close-west:hover	{ background: url(../imgs/layout/go-lt-on.gif)  no-repeat center; }
.flora span.button-close-east			{ background: url(../imgs/layout/go-rt-off.gif) no-repeat center; }
.flora span.button-close-east:hover	{ background: url(../imgs/layout/go-rt-on.gif)  no-repeat center; }

/* STANDARD toggler-buttons - when the east/west panes are 'closed' */
.flora .toggler-west-closed		{ background: url(../imgs/layout/go-rt-off.gif) no-repeat center; }
.flora .toggler-west-closed:hover	{ background: url(../imgs/layout/go-rt-on.gif)  no-repeat center; }
.flora .toggler-east-closed		{ background: url(../imgs/layout/go-lt-off.gif) no-repeat center; }
.flora .toggler-east-closed:hover	{ background: url(../imgs/layout/go-lt-on.gif)  no-repeat center; }


/*
*	INNER LAYOUT RESIZERS & TOGGLERS
*
*	These styles target 'children of center pane', so only affect the Inner Layout
*	This layout has applyDefaultCSS=true, so use !important to override defaults
*/

.flora #mainContent .ui-layout-resizer-closed:hover{ background: #FFEDCA !important; }
.flora #mainContent .ui-layout-resizer-dragging ,
.flora #mainContent .ui-layout-resizer-open:hover	{ background: #C4E1A4 !important; }

.flora #mainContent .ui-layout-resizer-north ,
.flora #mainContent .ui-layout-resizer-south		{ border-left:  1px solid #BBB !important;
											  border-right: 1px solid #BBB !important; }
.flora #mainContent .ui-layout-resizer-north-closed{ border-top:   1px solid #BBB !important; }
.flora #mainContent .ui-layout-resizer-south-closed{ border-bottom:1px solid #BBB !important; }
.flora #mainContent .ui-layout-resizer-west-closed	{ border-left:  1px solid #BBB !important; }
.flora #mainContent .ui-layout-resizer-east-closed	{ border-right: 1px solid #BBB !important; }

.flora #mainContent .ui-layout-resizer:hover .ui-layout-toggler {
	opacity: 0.4;
	filter: alpha(opacity=40);
}
.flora #mainContent .ui-layout-resizer:hover .ui-layout-toggler:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	background: #FD9 !important;
	border-color: #CB7 !important;
}

.flora #mainContent .ui-layout-resizer-sliding {
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.flora #mainContent .ui-layout-resizer-sliding:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.flora #mainContent .ui-layout-resizer-sliding .ui-layout-toggler {
	display: none !important;
}
.flora #mainContent .ui-layout-resizer-sliding:hover .ui-layout-toggler {
	display: block !important;
}
