<?xml version="1.0" encoding="UTF-8"?><!-- ===================================================================== --><!--                                                                       --><!--  Log4j Configuration                                                  --><!--                                                                       --><!-- ===================================================================== --><!-- $Id: jboss-log4j.xml 75507 2008-07-08 20:15:07Z stan.silvert@jboss.com $ --><!--
   | For more configuration infromation and examples see the Jakarta Log4j
   | owebsite: http://jakarta.apache.org/log4j
 --><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false" threshold="null">

   <!-- ============================== -->
   <!-- Append messages to the console -->
   <!-- ============================== -->

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>
      <param name="Threshold" value="ERROR"/>

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
      </layout>
   </appender>

   <!-- ================ -->
   <!-- Limit categories -->
   <!-- ================ -->

   <!-- Limit the org.apache category to INFO as its DEBUG is verbose -->
	<category name="org.apache"><priority value="WARN"/></category>
	<category name="org.springframework"><priority value="ERROR"/></category>

    <category name="org.hibernate"><priority value="WARN"/></category>
    <category name="org.hibernate.engine.StatefulPersistenceContext.ProxyWarnLog"><priority value="ERROR"/></category>
    <category name="org.hibernate.impl.SessionFactoryObjectFactory"><priority value="ERROR"/></category>
    <category name="org.hibernate.cache.EhCacheProvider"><priority value="ERROR"/></category>
    <category name="org.hibernate.hql.ast.tree.FromElementType"><priority value="ERROR"/></category>
    <category name="org.jbpm"><priority value="INFO"/></category>
    <category name="org.jbpm.jpdl.xml.JpdlXmlReader"><priority value="ERROR"/></category>
    <category name="org.compass.core.transaction"><priority value="INFO"/></category>
    <category name="org.compass.core.lucene.engine.optimizer.ScheduledLuceneSearchEngineOptimizer"><priority value="INFO"/></category>
    <category name="org.apache.jackrabbit.core.query.lucene.IndexMerger"><priority value="WARN"/></category>
    <category name="org.nuxeo.ecm.platform.ui.web.auth"><priority value="INFO"/></category>
    <category name="org.nuxeo.runtime.osgi.OSGiRuntimeService"><priority value="INFO"/></category>
    <category name="org.apache.myfaces.renderkit.html.util.DefaultAddResource"><priority value="ERROR"/></category>
    <category name="javax.enterprise.resource.webcontainer.jsf.renderkit"><priority value="INFO"/></category>
    <category name="javax.enterprise.resource.webcontainer.jsf.application"><priority value="INFO"/></category>
    <category name="javax.enterprise.resource.webcontainer.jsf.lifecycle"><priority value="INFO"/></category>
   <category name="jacorb" additivity="true"><priority value="WARN"/></category>
   <category name="org.jgroups" additivity="true"><priority value="WARN"/></category>
   <category name="org.quartz" additivity="true"><priority value="INFO"/></category>
   <category name="javax.enterprise.resource.webcontainer.jsf" additivity="true"><priority value="ERROR"/></category>
   <category name="org.jboss.management" additivity="true"><priority value="INFO"/></category>
   <category name="com.mchange.v2" additivity="true"><priority value="OFF"/></category>

   <!-- ======================= -->
   <!-- Setup the Root category -->
   <!-- ======================= -->

   <root>
      <appender-ref ref="CONSOLE"/>
   </root>

</log4j:configuration>